<div class="sudoku-container">
  <div fxLayout fxLayoutAlign="left center">
    <app-difficulty-select (difficultySetter)="onSetDifficulty($event)"></app-difficulty-select>
    <div fxFlex="68%"></div>

    <button mat-raised-button routerLink="/scores">Scores</button>
  </div>
  <div *ngIf="!paused">
    <app-sudoku [sudoku]="sudoku" (finish)="onGameFinished()"></app-sudoku>
  </div>

  <div *ngIf="paused" class="paused">
    <h1><mat-icon>pause</mat-icon> Paused</h1>
  </div>

  <div *ngIf="elapsedTime" fxLayout="row" fxLayoutAlign="center center">
    <div mat-raised-button class="time">{{ elapsedTime | formatTime }}</div>
    <button mat-raised-button class="pause-button" (click)="pauseTimer()">
      <mat-icon>{{ paused ? 'play_arrow' : 'pause' }}</mat-icon>
      {{ paused ? 'Resume' : 'Pause' }}
    </button>
  </div>
</div>
