<div class="button-container">
  <button mat-raised-button mat-stroked-button class="difficulty-button" (click)="generate('easy')">Easy</button>
  <button mat-raised-button mat-stroked-button class="difficulty-button" (click)="generate('moderate')">Moderate</button>
  <button mat-raised-button mat-stroked-button class="difficulty-button" (click)="generate('hard')">Hard</button>
  <button mat-raised-button mat-stroked-button class="difficulty-button" (click)="generate('expert')">Expert</button>
  <button mat-raised-button mat-stroked-button class="difficulty-button" (click)="generate('insane')">Insane</button>
</div>

<div class="sudoku-container">
  <app-sudoku [sudoku]="sudoku"></app-sudoku>
</div>
