<div class="button-container">
  <ng-container *ngFor="let difficulty of difficultiesArr">
    <button mat-raised-button mat-stroked-button class="difficulty-button" (click)="setDifficulty(difficulty)">
      {{ difficultyText(difficulty) }}
    </button>
  </ng-container>
</div>

<div class="sudoku-container">
  <div *ngIf="!paused">
    <app-sudoku [sudoku]="sudoku" (finish)="onGameFinished()"></app-sudoku>
  </div>

  <div *ngIf="paused" class="paused">
    <h1><mat-icon>pause</mat-icon> Paused</h1>
  </div>

  <div *ngIf="elapsedTime">
    <span class="time">{{ elapsedTime | formatTime }}</span>
    <button mat-raised-button class="pause-button" (click)="pauseTimer()">
      <mat-icon>{{ paused ? 'play_arrow' : 'pause' }}</mat-icon>
      {{ paused ? 'Resume' : 'Pause' }}
    </button>
  </div>
</div>
